@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  overflow-x: hidden;
  position: relative;
}
.toggle{
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
}
.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(231, 8%, 82%);
  width: 51vw;
  height: 55vh;
  z-index: -10;
  border-bottom-left-radius: 70px;
}
header {
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
li a {
  text-decoration: none;
  color: inherit;
}
li a:hover {
  text-decoration: underline;
}
li:not(:last-of-type) {
  padding: 0.1rem 1rem;
}
nav ul li:last-of-type {
  color: hsl(231, 7%, 65%);
  margin-left: 1rem;
}
nav ul li:last-of-type::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: hsl(231, 7%, 65%);
  margin-right: 5rem;
}
.menu {
  display: none;
}
.hero {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Barlow Condensed", sans-serif;
  padding: 5rem 0;
}
.hero-text h3,
.hero-text p {
  font-weight: 400;
  font-size: 1.2rem;
}
.hero-text > h3 {
  letter-spacing: 0.2rem;
}
.hero-text > h3 span {
  color: hsl(207, 33%, 95%);
  background-color: hsl(230, 29%, 20%);
  border-radius: 15px;
  padding: 0.2rem 0.4rem;
}
.hero-text h1 {
  font-weight: 700;
  font-size: 2.7rem;
  margin: 1rem 0;
}
.hero-img img {
  width: 100%;
  transform: scale(1.5) translateX(35%);
}
.hero-text > p {
  margin: 1.5rem 0;
  text-transform: initial;
  width: 60%;
  color: hsl(230, 11%, 40%);
}
.cta {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cta button {
  background-color: hsl(0, 100%, 68%);
  color: hsl(207, 33%, 95%);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  transition: all 0.2s ease-in-out;
  font-size: inherit;
}
.cta button:hover {
  background-color: hsl(0, 99%, 62%);
  cursor: pointer;
  transform: scaleX(1.1);
}
.cta h3 {
  color: hsl(231, 7%, 65%);
}
.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* MEDIA QUERY */
@media screen and (max-width: 990px) {
  .cta {
    font-size: 1rem;
    gap: 10px;
  }
  .cta h3 {
    font-size: inherit;
  }
  .cta button {
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 779px) {
  .hero-text > p {
    width: 80%;
  }
  .cta {
    font-size: 0.9rem;
  }
  .hero-img img {
    width: 100%;
    transform: scale(1.8) translate(15%, -35px);
  }
}
@media screen and (max-width: 710px) {
  header {
    padding: 1.2rem 2rem;
    position: relative;
  }
  .m-none{
    display: none;
}
  nav {
    position: absolute;
    top: 60px;
    width: 80%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 4px 2px 5px 3px hsl(230, 29%, 20%);
    z-index: 20;
    left: 10%;
    padding: 2rem;
    animation: slideRight .3s ease-in-out;
  }
  @keyframes slideRight {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
  }
  nav ul {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  li  {
    width: 100%;
  }
  li:not(:last-of-type) {
    padding: 0.1rem 1rem;
  }
  nav ul li:last-of-type {
    border-top: 2px solid hsl(230, 11%, 40%);
    padding-top: 1rem;
    margin-left: 0;
  }
  nav ul li:last-of-type::before {
    display: none;
  }
  .menu {
    display: block;
  }
  .hero {
    padding: 2rem 0;
    grid-template-columns: 1fr;
  }
  .hero-text {
    padding: 2rem;
  }
  .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero-text > h3 {
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
  }
  .hero-text > h3 span {
    padding: 0.1rem 0.2rem;
  }
  .cta {
    justify-content: space-between;
    font-size: 0.8rem;
  }
  .cta button {
    padding: 0.8rem 1.6rem;
  }
  .hero-img {
    grid-row: 1/2;
    margin-bottom: 4rem;
  }
  .hero-img img {
    width: 100%;
    transform: scale(1) translate(25%, 15px);
  }
}
@media screen and (max-width: 392px){
    .hero-text{
        padding: 1.5rem;
    }
    .hero-text>p{
        width: 90%;
    }
  .cta {
    justify-content: space-between;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 366px){
    .hero-text > h3 {
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }
  .cta button {
    padding: 0.5rem 1rem;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
}
